# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://admin:password@localhost:5432/my-new-db"
JWT_SECRET=f3a59c1e90b0c9a8f3b1e4090b12a7f8b4219c47c8a5c2f9da9f0f1c9f7a1b2e5c1a9d3c6f7b4d9e1c8f9f2c6a1b2e3
